/* new notes */
.notes-opener{
    cursor: pointer;
}
/* reduce notes */
.notes-reducer{
    cursor: pointer;
}
/* save all notes */
.notes-saver{
    cursor: pointer;
}
/* bin for real erase of notes */
.notes-trasher{
    cursor: crosshair;
}

#notes_container{
    position: absolute;
    left: 50%;
    top: 20%;
}
/* liste des notes pour fonction sortable */
.notes-anchor-ul {
    display: table-row;
}
.notes-list {
    list-style-type: none;
    height: 36px;
    width: 250px;
}
/* notes */
.notes {
    display: block;
    height: auto;
    width: 300px;
    position: absolute;
    left:0;
    top:0;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: silver;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
.notes-title {
    margin-top: 2px;
    margin-bottom: 5px;
    height: 25px;
}
.notes-title input{
    cursor: text;
    width: 60%;
    border-top-style: none;
    border-bottom-style: dotted;
    border-left-style: none;
    border-right-style: none;
    border-bottom-width: 1px;
}
.notes-title input:hover{
    border-style: inset;
    border-width: 1px;
}
.notes_content{
    display: block;
    margin-bottom: 5px;
}
/* draggable area handle */
.notes-drag-area {
    cursor: move;
}
/* icons */
.notes-icons {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-top-style: none;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.notes-icons-up-left {
    float: left;
}
.notes-icons-up-right {
    float: right;
}
.notes-icons-list{
    -moz-padding-start:0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.notes-icons-list-element {
    list-style-type: none;
    list-style-position: inside;
    list-style-image: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position:relative;
    display:inline;
}

.notes-default-hidden-part {
    display: none;
}

.notes-color-picker {
    position: absolute;
    top: 0;
    left:0;
    width: 195px;
    height: 195px;
    overflow: auto;
}
/* text area of the notes */
.notes textarea{
    position:relative;
    height: auto;
    width: 100%;
    border-style: none;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.notes textarea:hover{
    border-style: inset;
    border-width: 1px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

/* global parameters on notes */
.notes-effect {
    margin-bottom: 5px;
    display: table-row;
}
.notes-effect-element {
    display: table-cell;
}